<!doctype html>
<html>

<head>
  <title>ShakesPortal</title>
</head>

<body>

  <h1>ShakesPortal</h1>

  <form>
    <label>What seekest thou, noble reader?<br>
      <input type="text" name="search" size="20">
    </label>
    <input type="submit" value="Enquire">
  </form>

  <br>
  <b>{{vm.search_query}}</b> yieldeth {{ vm.results | length }} results.<br><br>
  <table border=1>
    <tr>
      <td>Title</td>
      <td>Line</td>
      <td>Position</td>
    </tr>
  {% for result in vm.results %}
    <tr>
      <td>{{ result[0] }}</td>
      <td>{{ result[1] }}</td>
      <td>{{ result[3] }}</td>
    </tr>
  {% endfor %}
  </table>

</body>

</html>
